@charset "utf-8";
/* CSS Document */
/*---------------------------------font size setting*/
body { font-size: 1.125em; }
.fontSet { width: 130px; }
 @media (max-width:1199px) and (min-width: 992px) {
.service ul li a { padding: 3px 10px 3px 75px; height: 60px; }
}
.bulletin .title {
	height: 65px;
}
.service ul li {
    margin: 0 0 12px 10px;
}
